input {
  width: 250px;
  height: 30px;
  border: 1px solid darkgrey;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 15px;
}

button {
  height: 30px;
  width: 100px;
  background-color: blue;
  text-align: aqua;
  font-size: 10pt;
  border-radius: 15px;
  color: white;
}

.heading {
  color: #2d2d2d;
  font-size: 25pt;
  margin-bottom: 20px;
}

.error-msg {
  color: red;
}

select {
  width: 250px;
  margin-bottom: 15px;
  height: 30px;
}
